﻿@using Library.Helpers
@{
    ViewBag.Title = "Form";
}
@{
    string[] list = new string[] { "1", "2", "3", "4", "5" };
}

@helper OptionList(List<string> options)
{
    foreach (var i in options)
    {
        <div class="form-check">
        <input class="form-check-input" type="radio" name="radio" id="exampleRadios1" value="@i">
        <label class="form-check-label" >
            @i
        </label>
        </div>
    }
}


<div class="content">
    <form class="FormBlank" method="post" action="https://localhost:44333/Form/FormResult">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Bob" name="name" pattern="[A-Z][a-z]{1,10}">
        </div>
        <div class="form-group">
            <label for="Surname">Surname</label>
            <input type="text" class="form-control" id="Surname" placeholder="Brown" name="surname" pattern="[A-Z][a-z]{1,10}">
        </div>
        @OptionList(ViewBag.listCheck)
        @Html.CreateSelect(list)
        <label>Put your mark</label>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Describe yourself</label>
            <textarea class="form-control" name="txt" id="txtArea" rows="3" placeholder="some info..."></textarea>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" name="check" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                I've read and accept the terms & conditions
            </label>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
