﻿@{
    ViewBag.Title = "Main";
}
<div class="content">
    <a class="btn btn-primary" href="https://localhost:44333/Home/Add">Add article</a>
    @foreach (var i in ViewBag.Articles)
    {
        <div class="item">
            <img class="itemImage" />
            <h3 class="itemHeader">@i.Name</h3>
            <h6 class="itemAuthor">@i.Author</h6>
            <p class="itemDate">@i.Date</p>
            <p class="itemDesc">
                @i.Description
            </p>
        </div>
    }



</div>




