﻿@model IEnumerable<Library.Models.CommentView>
@foreach (var a in Model)
{
    <div class="comment">
         <h5>@a.User</h5>
         <p>@a.Date</p>
         <p>
             @a.Body
         </p>
    </div>
}
